.search-bar {
	margin: 5px;
	text-alig: center;
}

.search-bar input {
	width: 75%;
}

.video-item img {
	max-width: 80px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}

.videoTitle {
	font-weight: bold;
	font-size: 35px;
}

.theater {
	-webkit-transform: scale(1.5,1.5);
  position: fixed;
  left: 85px;
  top: 150px;
  border-right: 100% solid black;
  border-left: 100% solid black;
  margin: auto;
}

.buttonStyle {
	margin-top: -5px;
	margin-left: 30px;
}